:root {
    --size-content-3: 100%;
    --size-4: 1rem;
    --image-size: clamp(200px, 30vmin, 50rem);
}
/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    width: 100%;
}

p{
    line-height: 1.5;
}

.container{
    width: 100%;
}

/* Navbar container */
.navbar_container {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
}

.navbar_contact{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #e9e9e9;
    color: #000;
}

.navbar_link {
    font-size: 0.9em;
}

.navbar_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    background-color: #fff;
    color: #4d4b4b;
}

.navbar_logo h1 {
    font-size: 1.5em;
}

.navbar_nav{
    display: flex;
}

.navbar_nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar_nav ul li {
    cursor: pointer;
}

.about_container{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 100px;
    font-size: 0.9rem;
}

.about_main{
    display: flex;
    justify-content: center;
}

.about_text{
    width: 500px;
}

.about_text p{
    width: 400px;
    line-height: 1.5;
}

.about_text h2{
    width: 420px;
    font-size: 2.5rem;
    font-family: Arial;
    padding-bottom: 20px;
}

.about_main img{
    width: 100%;
    height: 600px;
}
/*video container*/
.heroVideo{
    padding: 10px;
}

/*about frame*/
.about_frames_container{
    padding: 10px;
}
.about_frame_main{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;
    gap: 20px;
    padding-bottom: 50px;
}

.about_frame{
    display: flex;
    position: relative;
    gap: 40px;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: max-content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.about_frame_nr{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #a8a1a1;
}

.about_frame_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: aqua;
}

.about_frame_text_head{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.about_frame_text_body{
    width: 300px;
    line-height: 1.2;
}

/* Slider container */
.track-wrapper {
    width: 100%;
    max-inline-size: var(--size-content-3);
    overflow: hidden;
    mask: linear-gradient(90deg, transparent);
}

.track {
    display: flex;
    gap: 4px;
    list-style-type: none;
    margin: 0;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    width: 100%;
    height: var(--image-size);
}

.track__item {
    aspect-ratio: 1;
    height: 100%;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 80%, 50%);
}

.track__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*choose section*/
.choose_container{
    padding: 10px;
}
.choose_main{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.choose_intro{
    width: 500px;
}

.choose_affordable_container{
    display: grid;
}

.choose_affordable{
    display: grid;
    width: 300px;
}

/*assurance section*/
.assurance_container{
    padding: 10px;
    background-color: aliceblue;
}

.assurance_top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgb(148, 143, 143);
}

.assurance_top_lh{
    width: 700px;
}

.assurance_top_rh{
    width: 650px;
    color: #fff;
}

.assurance_top_lh h2{
    font-size: 2.5rem;
    color: #fff;
}

.assurance_middle{
    display: flex;
    justify-content: center;
    gap: 40px;
    height: auto;
}

.assurance_middle_lh{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    width: 650px;
    height: 700px;
    background-color: aqua;
    padding: 50px;
    left: 15.7%;
    z-index: 1;
}

.assurance_middle_lh_head h2{
    font-size: 2rem;
    width: 500px;
    padding-bottom: 50px;
    font-weight: 900;
}

.assurance_middle_video_downloadable{
    width: 750px;
    position: relative;
    left: 40%;
    z-index: 0;
    right: 0;
}

.assurance_middle_lh_body{
    width: 450px;
    font-size: 1.2rem;
}

.assurance_middle_lh_body p {
    line-height: 1.5;
}

.assurance_middle_button{
    padding-top: 50px;
}

.assurance_middle_lh_body button{
    padding: 20px;
    background-color: aqua;
}

.assurance_bottom_main{
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 200px;
}

.finished_homes{
    background-color: #333;
    padding: 83px;
    color: #f5f5f5;
}